.navIcons {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 50%;
  
}

.navigation {
    position: absolute;
    top: 2%;
    left: 78%;
    font-size: 2em;
    /* transform: translate(-50%, -50%); */
  }

.personIcon{
    position: absolute;
    top: 2%;
    left: 13%;
    font-size: 2em;
}

.crosshair{
    width: 80px;
}

