.navIcons{
    background-color: black;
    color: white;
    background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
    .navIcons {
      padding: 5px;
    }
  }