.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
  }
  
  .used{
      color: orange;
      background-color: black;
      width: 80%;
      height: 600px;
      margin: 30px auto; /* Set the left and right margin to "auto" to center the element horizontally */
  }

  .usedButton{
    height: 100px;
    width: 200px;
    background-color: white;
    border-color: black;
  }

 